<style media="screen">
    .navbar navbar-default{
      position: fixed;
    }
    
    </style>
    
    
    <nav class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">News Hightlight</a>
        </div>
        <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="#">Business</a></li>
          <li><a href="#">Entertainment</a></li>
          <li><a href="#">Health</a></li>
          <li><a href="#">Sports</a></li>
          <li><a href="#">Technology</a></li>
    
        </ul>
      </div>
    </nav>